body{
    color: white;
}
#heading, #content-text{
    font-family: 'Bellefair', serif;
    text-align: center;
}
#heading{
    font-size: 300%;
}
#heading1{
    font-size: 30px;
}
#content-text{
    font-size: 20px;
}
.controls{
    text-align: center;
}
.control-btn{
    background-color: #000000;
}
.reg-form{
    background-color: #9acfea;
    color: #000000;
    margin-top: 7%;
    text-align: center;
    border-radius: 5%;
}
.navigation{
    font-size: larger;
    color: orangered;

}
.nav-pills{
    border-radius: 5%;
    background-color: transparent;
}
.nav-pills li{
    border: 1px solid black;
    border-radius: 5%;
}
.logout{
    float: right;
    margin-top: 3%;
    background-color: #c9302c;
}
a:hover
{
    color: #ffffff;
    text-decoration: none;
}
a{
    color: #ffffff;
}