{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/icon.png' %}" type="img/png">
    <title>Snappy!</title>
{#    Fonts#}
    <link href="{% static 'fonts/Bellefair-Regular.ttf' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    {#        Bootstrap CSS#}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/lightbox/styles/ns-awesome-gallery.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/simplelightbox/dist/simplelightbox.css' %}">
    {#    jQuery#}
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
{#    lightbox js#}
    <script src="{% static 'plugins/simplelightbox/dist/simple-lightbox.js' %}"></script>
    <script src="{% static 'plugins/lightbox/jquery.ns-awesome-gallery.js' %}"></script>
{#    Bootstrap JS#}
    <script src="{% static 'plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
{#    nude JS #}
    {#    local CSS#}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{#    toastr#}
{#    <script src="{% static 'plugins/toastr/build/toastr.min.js' %}" > </script>#}
{#    <link rel="stylesheet" href="{% static 'plugins/toastr/build/toastr.css' %}">#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" > </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
{#    lightbox#}

</head>
<body>
<script>

toastr.options = {
  "debug": false,
  "positionClass": "toast-top-center",
  "onclick": null,
  "fadeIn": 300,
  "fadeOut": 1000,
  "timeOut": 5000,
  "extendedTimeOut": 1000
}
</script>
<div class="loader" style="background: url('{% static 'images/loading1.gif' %}') 50% 50% no-repeat rgb(249,249,249);"></div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid nav-content">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Snappy</a>
        </div>
        <div class="collapse navbar-collapse" id="navBar">
            <ul class="nav navbar-nav" id="hello">
               <li><a href="../register"><button class="btn btn-default nav-button">Register</button></a></li>
               <li><a href="../login_user"><button class="btn btn-default nav-button login-btn">Login</button></a></li>
               <li><a href="../logout_user"><button class="btn btn-default nav-button logout-btn">Logout</button></a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="row">
    <div class="col-md-offset-0 col-sm-offset-0 col-lg-offset-0 col-xs-offset-0" id = "heading">
        Snappy!
    </div>
    {% if request.user.is_active %}
       <script>
           toastr.success('Welcome back {{ user.username }}');
           $(".login-btn").hide();
           $(".logout-btn").show();
       </script>
    {% else %}
        <script>
        $(".login-btn").show();
        $(".logout-btn").hide();
        </script>
    {% endif %}
</div>
    <br>
<div class="row">
    <div class="col-md-offset-0 col-sm-offset-0 col-xs-offset-0 col-lg-offset-0" id="content-text">
        A tool to display images with #tag as a gallery!
    </div>
</div>
{% block content %}
{% endblock %}
</body>
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% if not request.user.is_active %}
    <script>
    if(document.querySelector(".search-bar") != null){
        document.querySelector(".search-bar").addEventListener('click', showWarning);
    }
    </script>
{% endif %}
</html>