{% extends 'base.html' %}
{% load staticfiles %}
{% block register_link %}register{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col col-xs-offset-2 col-sm-offset-4 col-lg-offset-5 col-md-offset-5">
        <button class="btn select-btn twitter-btn">Twitter</button>
        <button class="btn select-btn insta-btn">Instagr@m</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-xs-2 col-md-4 col-lg-4">
    </div>
    <div class="col col-xs-8 col-sm-7 col-lg-4 col-md-4">
        <div class="input-group search-bar">
            <i style="background-color: #ffffff" class="input-group-addon" id="hash">#</i>
            <input id="search-text" type="text" class="form-control" placeholder="Search" aria-describedby="hash">
            <div class="search-btn input-group-addon" aria-describedby="search-text">
            <span class="glyphicon glyphicon-search" ></span>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-xs-2 col-md-4 col-lg-4">
    </div>
</div>
</div>
{% endblock %}