{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <br>
    <br>
    <div class="container-fluid">
    <div class="row search_area">
    <div class="col col-sm-4 col-md-5 col-lg-4 col-xs-0"></div>
    <div class="col col-sm-4 col-md-2 col-lg-4 col-xs-12">
        <div class="input-group">
          <span class="input-group-addon" id="hash_symbol">#</span>
          <input type="text" class="form-control" placeholder="hashtag" aria-describedby="hash_symbol">
          <span class="input-group-addon" id="search_button"><span class="glyphicon glyphicon-search"></span> </span>
        </div>
    </div>
    <div class="col col-sm-4 col-md-5 col-lg-4 col-xs-0"></div>
    </div>
    </div>
{% endblock %}